Recruitment.Web/App_WebReferences/CatOps/catops.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="CAESDO.WebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="CAESDO.WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="CAESDO.WebServices">
      <s:element name="SearchNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchNewUserResult" type="tns:ArrayOfUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Users">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPermissions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Application" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Role" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPermissionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignPermissionsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePermissions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="role" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePermissionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePermissionsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="emailTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="phoneType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPhoneNumberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="unitID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUnitResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmailTypesResult" type="tns:ArrayOfEmailTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmailTypes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmailTypes" nillable="true" type="tns:EmailTypes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmailTypes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmailTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPhoneTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhoneTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhoneTypesResult" type="tns:ArrayOfPhoneTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPhoneTypes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhoneTypes" nillable="true" type="tns:PhoneTypes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhoneTypes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PhoneTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUnits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnitsResult" type="tns:ArrayOfUnits" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUnits">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Units" nillable="true" type="tns:Units" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Units">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UnitID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesResult" type="tns:ArrayOfRoles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Roles" nillable="true" type="tns:Roles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Roles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsersByApplications">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hashKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByApplicationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersByApplicationsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:SearchNewUser" />
  </wsdl:message>
  <wsdl:message name="SearchNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:SearchNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="AssignPermissionsSoapIn">
    <wsdl:part name="parameters" element="tns:AssignPermissions" />
  </wsdl:message>
  <wsdl:message name="AssignPermissionsSoapOut">
    <wsdl:part name="parameters" element="tns:AssignPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePermissionsSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePermissions" />
  </wsdl:message>
  <wsdl:message name="DeletePermissionsSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmailSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmail" />
  </wsdl:message>
  <wsdl:message name="AddEmailSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmailResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="AddUnitSoapIn">
    <wsdl:part name="parameters" element="tns:AddUnit" />
  </wsdl:message>
  <wsdl:message name="AddUnitSoapOut">
    <wsdl:part name="parameters" element="tns:AddUnitResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmailTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmailTypes" />
  </wsdl:message>
  <wsdl:message name="GetEmailTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmailTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhoneTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhoneTypes" />
  </wsdl:message>
  <wsdl:message name="GetPhoneTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhoneTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnitsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnits" />
  </wsdl:message>
  <wsdl:message name="GetUnitsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersByApplicationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersByApplications" />
  </wsdl:message>
  <wsdl:message name="GetUsersByApplicationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersByApplicationsResponse" />
  </wsdl:message>
  <wsdl:portType name="CatOpsSoap">
    <wsdl:operation name="SearchNewUser">
      <wsdl:input message="tns:SearchNewUserSoapIn" />
      <wsdl:output message="tns:SearchNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input message="tns:InsertNewUserSoapIn" />
      <wsdl:output message="tns:InsertNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignPermissions">
      <wsdl:input message="tns:AssignPermissionsSoapIn" />
      <wsdl:output message="tns:AssignPermissionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePermissions">
      <wsdl:input message="tns:DeletePermissionsSoapIn" />
      <wsdl:output message="tns:DeletePermissionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmail">
      <wsdl:input message="tns:AddEmailSoapIn" />
      <wsdl:output message="tns:AddEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumber">
      <wsdl:input message="tns:AddPhoneNumberSoapIn" />
      <wsdl:output message="tns:AddPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <wsdl:input message="tns:AddUnitSoapIn" />
      <wsdl:output message="tns:AddUnitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailTypes">
      <wsdl:input message="tns:GetEmailTypesSoapIn" />
      <wsdl:output message="tns:GetEmailTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhoneTypes">
      <wsdl:input message="tns:GetPhoneTypesSoapIn" />
      <wsdl:output message="tns:GetPhoneTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnits">
      <wsdl:input message="tns:GetUnitsSoapIn" />
      <wsdl:output message="tns:GetUnitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input message="tns:GetRolesSoapIn" />
      <wsdl:output message="tns:GetRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplications">
      <wsdl:input message="tns:GetUsersByApplicationsSoapIn" />
      <wsdl:output message="tns:GetUsersByApplicationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatOpsSoap" type="tns:CatOpsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchNewUser">
      <soap:operation soapAction="CAESDO.WebServices/SearchNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="CAESDO.WebServices/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPermissions">
      <soap:operation soapAction="CAESDO.WebServices/AssignPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePermissions">
      <soap:operation soapAction="CAESDO.WebServices/DeletePermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmail">
      <soap:operation soapAction="CAESDO.WebServices/AddEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumber">
      <soap:operation soapAction="CAESDO.WebServices/AddPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <soap:operation soapAction="CAESDO.WebServices/AddUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailTypes">
      <soap:operation soapAction="CAESDO.WebServices/GetEmailTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneTypes">
      <soap:operation soapAction="CAESDO.WebServices/GetPhoneTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnits">
      <soap:operation soapAction="CAESDO.WebServices/GetUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="CAESDO.WebServices/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplications">
      <soap:operation soapAction="CAESDO.WebServices/GetUsersByApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CatOpsSoap12" type="tns:CatOpsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchNewUser">
      <soap12:operation soapAction="CAESDO.WebServices/SearchNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap12:operation soapAction="CAESDO.WebServices/InsertNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPermissions">
      <soap12:operation soapAction="CAESDO.WebServices/AssignPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePermissions">
      <soap12:operation soapAction="CAESDO.WebServices/DeletePermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmail">
      <soap12:operation soapAction="CAESDO.WebServices/AddEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumber">
      <soap12:operation soapAction="CAESDO.WebServices/AddPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <soap12:operation soapAction="CAESDO.WebServices/AddUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailTypes">
      <soap12:operation soapAction="CAESDO.WebServices/GetEmailTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneTypes">
      <soap12:operation soapAction="CAESDO.WebServices/GetPhoneTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnits">
      <soap12:operation soapAction="CAESDO.WebServices/GetUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap12:operation soapAction="CAESDO.WebServices/GetRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplications">
      <soap12:operation soapAction="CAESDO.WebServices/GetUsersByApplications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatOps">
    <wsdl:port name="CatOpsSoap" binding="tns:CatOpsSoap">
      <soap:address location="http://spiceweasel.caesdo.caes.ucdavis.edu/CAESWebservices-Devel/catops.asmx" />
    </wsdl:port>
    <wsdl:port name="CatOpsSoap12" binding="tns:CatOpsSoap12">
      <soap12:address location="http://spiceweasel.caesdo.caes.ucdavis.edu/CAESWebservices-Devel/catops.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>